body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;

  .navbar {
    .container {
      .row {
        .dropdown-menu {
          .card {
            .card-body {
              a {

                img {
                  width: 100px;
                  margin: 0 auto 5px;
                  display: block;
                  border-radius: 12.5rem;
                  background-clip: padding-box;
                  box-shadow: 0 1px 8px rgba(0, 0, 0, .2);
                }
              }
            }
          }
        }
      }
    }
  }

  .container {
    .row {
      .col-12 {
        button:hover {
          color: #28a745;
          background-color: #fff;
        }
      }
    }
  }

  .container {
    .row {
      .col-3 {
        .card {
          .card-body {
            padding: 20px 0;
            .sabzavot {
              background-color: #0b2e13;
            }
            a {
              color: black;
              font-weight: 400;
              font-size: 13px;
            }

            span {
              font-size: 12px;
              padding-top: 10px;
              margin-right: 10px;
            }

            img {
              width: 22px;
              margin-right: 1rem;
              max-width: 100%;
              height: auto;
              min-height: 22px;
              display: inline-block;
              vertical-align: middle;
              padding: .1875rem 0;
            }
          }
        }
      }

      .d-flex {
        justify-content: center;

        h5 {
          font-size: 1rem;
        }

        .barchasi {
          background-color: #ebf5ee;
          border: 1px solid transparent;
          border-radius: 5px;
          font-size: 1rem;
        }

        .barchasi:hover {
          border: 1px solid black;
          color: #28a745;
        }
      }
      .col-8 {
        color: black;
        padding: 10px 0;

      }
    }

    .col-2 {
      a {

        .card {
          position: relative;
          border-radius: 0;
          height: 320px;
          font-size: .75rem;
          line-height: 1rem;
          overflow-y: hidden;
          background-color: #fff;
          box-shadow: 1px 0 0 0 #eee, 0 1px 0 0 #eee, 1px 1px 0 0 #eee, inset 1px 0 0 0 #eee, inset 0 1px 0 0 #eee;
          .card-body {
            padding-bottom: 5px;
            h4 {
              color: #455463;
              font-size: .875rem;
              line-height: 1rem;
              height: 3.125rem;
              overflow: hidden;
              display: block;
              margin-top: .9375rem;
              margin-bottom: .3125rem;
              padding-left: 0;
            }

            h6 {
              font-size: 1.125rem;
              color: #00a13c;
              font-weight: 500;
              display: block;

              span {
                font-size: .625rem;
                color: #ccc;
              }
            }
            button:hover {
              color: white;
              background-color: #28a745;
            }
            button {
              font-size: 13px;
              font-weight: 400;
              background-size: auto 15px;
              color: #28a745;
              margin-top: 10px;
              opacity: 0;
            }
          }
        }
        .card:hover button{
          opacity: 1;
        }
      }
      .skitka {
        background-color: red;
        color: white;
        width: 47px;
        height: 22px;
        position: absolute;
        top: 10px;
        left: 0;
        p {
          font-weight: 400;
        }
      }
    }
  }
}


